<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= load_manifest_resources("http://127.0.0.1:8080/vue-app/dist/manifest.json") %>
<div id="app"></div>

<%= load_manifest_resources("http://127.0.0.1:8080/react-app/build/asset-manifest.json") %>
<div id="root"></div>

<%= yield :manifest_js %>

<%= @features.to_json() %>

<br>
<table>
  <tr>
    <td>Name</td>
    <td>Id</td>
    <td>Activated</td>
  </tr>

<% @features.each do |feature| %>
  <tr>
    <td><%= feature.name %></td>
    <td><%= feature.id %></td>
    <td><%= feature.activated %></td>
  </tr>
<% end %>
</table>
