<div class="container">
  <h1>Micro Front-end Demo</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <br><br>

  <div class="card-deck">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <%= load_manifest_resources("http://assetsserver:8080/vue-app/dist/manifest.json") %>
        <div id="app"></div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <%= load_manifest_resources("http://assetsserver:8080/react-app/build/asset-manifest.json") %>
        <div id="root"></div>
      </div>
    </div>
  </div>
  <br><br>

  <h2>Features</h2>

  <table class="table table-striped table-dark">
    <thead class="thead-dark">
      <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Activated</td>
      </tr>
    </thead>

    <tbody>
      <% @features.each do |feature| %>
        <tr>
          <td><%= feature.name %></td>
          <td><%= feature.id %></td>
          <td><%= feature.activated %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= yield :manifest_js %>
